.wrapper {
    width: 150px;
    margin: 0 auto;
}
  
.header {
    width: 150px;
    height: 100px;
    background-color:#141f40;
}
  
.box1 {
    width: 150px;
    height: 100px;
    background-color:#80bfa8;
}

.items1 {
    width: 150px;
    /* float: left; */
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.items2 {
    width: 150px;
    /* float: left; */
}

.box2 {
    width: 150px;
    height: 100px;
    background-color:#ff9e6b;
}
  
.box3 {
    width: 150px;
    height: 50px;
    background-color:#dbd400;
}
  
.box4 {
    width: 150px;
    height: 100px;
    background-color:#0093b7;
}
  
.box5 {
    width: 150px;
    height: 100px;
    background-color:#8c2727;
}
  
.footer {
    width: 150px;
    height: 100px;
    background-color:#d98d30;
}